In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("Titanic-Dataset.csv")

In [ ]:
df[["Name","Age","Sex","Fare","Survived"]]

In [ ]:
df[(df["Sex"]=="female") & (df["Fare"]>30)]

In [12]:
df.groupby("Pclass").agg(
    survival_rate=("Survived",lambda x:x.mean()*100),
    average_fare=("Fare","mean"),
    average_age=("Age","mean"))

        survival_rate  average_fare  average_age
Pclass
1           62.962963     84.154687    38.233441
2           47.282609     20.662183    29.877630
3           24.236253     13.675550    25.140620